[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 12.0
[submodule "grupo-cyc"]
	path = grupo-cyc
	url = git@git.vauxoo.com:vauxoo/grupo-cyc.git
	branch = 12.0
[submodule "website"]
	path = website
	url = git@github.com:Vauxoo/website.git
	branch = 12.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = git@github.com:Vauxoo/account-financial-tools.git
	branch = 12.0
[submodule "addons-vauxoo"]
	path = addons-vauxoo
	url = git@github.com:Vauxoo/addons-vauxoo.git
	branch = 12.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Vauxoo/server-tools.git
	branch = 12.0
[submodule "stock-psycho-account"]
	path = stock-psycho-account
	url = git@git.vauxoo.com:vauxoo/stock-psycho-account.git
	branch = 12.0
